.wallet-form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  gap: 10px;
  max-width: 500px;
}

section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-section > input {
  height: 40px;
  padding: 15px 10px;
}